In [1]:
#set printing and printing type
s1 = {1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [2]:
lst1 = [1,8,9,0,10,20,21,33,8,6]

In [3]:
s2 = set(lst1)
print(s2)
print(type(s2))

{0, 1, 33, 6, 8, 9, 10, 20, 21}
<class 'set'>

In [4]:
## union operation using / operator
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [5]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [6]:
#using .union
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [7]:
#intersection using & operator
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [8]:
s1&s2

{3, 4}

In [9]:
s1.intersection(s2)

{3, 4}

In [12]:
#difference of sets
s1 = {2,3,5,6,7}
s2 = {5,6,7}
s1 - s2

{2, 3}

In [16]:
#symmetirc difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [18]:
#subset and superset
s1 = {1,2,3,4,5}
s2 = {1,2,3}
print(s2.issubset(s1))
print(s2.issuperset(s1))

True
False

In [19]:
#STRINGS
str1 = "Welcome to aiml class"
print(str1)
str2 = 'We started with python'
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [20]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
#slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [22]:
#use split method
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [24]:
#use of join() method
reviews = ["The product is awesome", "Great Service"]
joined_string = ' ; '.join(reviews)
joined_string

'The product is awesome ; Great Service'

In [25]:
#use of strip() method
str5 = "         hello!!!!!     ,....    "
print(str5)
str5.strip()

         hello!!!!!     ,....

'hello!!!!!     ,....'